
body{
	padding: 10px 20px;
	font-size: 11pt;
	font-family: "Century Gothic",arial;	
	color: #777;
	font-weight: 300;
}
a {
	color: #39C;
	font-weight: 400;
}
.demoValue{
	width:100%;
	min-height:60px;
}
.footer{
	text-align: center;
	font-size:smaller;
	color:Gray;
}